vbbproject/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    SEASON*,
    SPIEL*,
    SPIELER*,
    BUCHUNG*,
    CONFIG*,
    GROUPS*,
    USERS*, 
    MAILS*,
    JOURNAL*)> 

<!ELEMENT BUCHUNG EMPTY>
<!ATTLIST BUCHUNG
    id CDATA #REQUIRED
    datum CDATA #IMPLIED
    description CDATA #IMPLIED
    price CDATA #IMPLIED
    spieler_id CDATA #IMPLIED
    spiel_id CDATA #IMPLIED
>

<!ELEMENT CONFIG EMPTY>
<!ATTLIST CONFIG
    id CDATA #REQUIRED
    configkey CDATA #IMPLIED
    configvalue CDATA #IMPLIED
>

<!ELEMENT SEASON EMPTY>
<!ATTLIST SEASON
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    STARTDATE CDATA #IMPLIED
    ENDDATE CDATA #IMPLIED
    PRICE CDATA #IMPLIED
>

<!ELEMENT SPIEL EMPTY>
<!ATTLIST SPIEL
    id CDATA #REQUIRED
    datum CDATA #IMPLIED
    season_id CDATA #IMPLIED
>

<!ELEMENT SPIELER EMPTY>
<!ATTLIST SPIELER
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    email CDATA #IMPLIED
    activitylevel CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    id CDATA #REQUIRED
    email CDATA #IMPLIED
    password CDATA #IMPLIED
    regid CDATA #IMPLIED
    state CDATA #IMPLIED
    userid CDATA #IMPLIED
    username CDATA #IMPLIED
    group_id CDATA #IMPLIED
>

<!ELEMENT USER_GROUP EMPTY>
<!ATTLIST USER_GROUP
	user_id CDATA #REQUIRED
	group_id CDATA #REQUIRED
>
<!ELEMENT GROUPS EMPTY>
<!ATTLIST GROUPS
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	description CDATA #REQUIRED
>

<!ELEMENT MAILS EMPTY>
<!ATTLIST MAILS
	id CDATA #REQUIRED
	recipient CDATA #REQUIRED
	subject CDATA #REQUIRED
	text CDATA #REQUIRED
	attempt CDATA #REQUIRED
>

<!ELEMENT JOURNAL EMPTY>
<!ATTLIST JOURNAL
	id CDATA #REQUIRED
	tms CDATA #REQUIRED
	userid CDATA #REQUIRED
	description CDATA #REQUIRED
	business_case CDATA #REQUIRED
>
